.jumbotron {
  padding-top: 2rem;
  background-color: pink;
}

#projects {
  background-color: pink;
}

footer {
  background-color: rgb(241, 19, 193);
  padding: 25px 0px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

a {
  color: #fff;
}

body {
  font-family: "comic sans ms";
}
